@using System.Web.Mvc.Html;
@model IEnumerable<Microsoft.Exchange.WebServices.Data.EmailMessage>

@*@model Mail_WebArchiveView.Models.Search*@
@{ Layout = null;}

@{
    ViewBag.Title = "Message Archive " + ViewBag.name;
}

@section scripts{

<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.columnFilter.js")"></script>

<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_table_jui.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet" />


@*<style type="text/css">
.dataTables_filter {
     display: none;
}

.dataTables_paginate{
    padding-top: 20px;
}

.dataTable th {
    padding-bottom: 15px;
}

tr.odd {
    background-color: #A9D0F5;
}

tr.odd td.sorting_1 {
    background-color: #BFDBF6;
}

tr.even td.sorting_1 {
    background-color: #E1EEFF;
}

.fancybox-nav span {
 visibility: visible;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	background-color: transparent;
}

a.fancybox-item:hover, img.fancybox-item:hover {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-color: transparent;
}

a.fancybox-prev:hover, img.fancybox-prev:hover {
	background-color: transparent;
}

a.fancybox-next:hover, img.fancybox-next:hover {
	background-color: transparent;
}

.fancybox-nav {
    width: 10%;
}

.dataTables_processing {
    background-color: white;
}

</style>*@

<script type="text/javascript">
    
    $(document).ready(function () {
        $.datepicker.regional[""].dateFormat = 'm/d/yy';
        $.datepicker.setDefaults($.datepicker.regional['']);
        var oMsgIndex = $('#Messages').dataTable({
            "bJQueryUI": true,
            "bServerSide": true,
            "oLanguage": {
                "sProcessing": 'Processing <img src="@Url.Content("~/Content/ajax-loader.gif")>'
            },
            "bProcessing": true,
            "sAjaxSource": '@Url.Action("AjaxSearch", "Archives")',
            "fnServerData": function ( sSource, aoData, fnCallback ) {
                /* Add some extra data to the sender */
                aoData.push(
                    { "name": "email", "value": "@Url.RequestContext.RouteData.Values["id"]" }
                    );
                $.getJSON( sSource, aoData, function (json) { 
                    /* Do whatever additional processing you want on the callback, then tell DataTables */
                    fnCallback(json)
                } ); },
            //Default sort by date descending:
            "aaSorting": [[0, "desc"]],
            // Disable sorting on the last column:
            "aoColumnDefs": [
                {
                    'aTargets': [0],
                    'sType': "date",
                    'sTitle': "Date/Time Received",
                    'bSortable': false
                },
                {
                    'aTargets': [1],
                    'sTitle': "From",
                    'bSortable': false
                },
                {
                    'aTargets': [2],
                    'sTitle': "Subject",
                    'bSortable': false
                },
                {
                    'sTitle': "View",
                    'mRender': function (data, type, row) {
                        return '<a class="vMsg fancybox fancybox.iframe" rel="fb" href="@Url.Action("Index", "Message")?mid=' + data + '&preview=true">Preview</a>' +
                            '<a href="@Url.Action("Index", "Message")?mid=' + data + '&preview=false">View</a>';
@*                        return '<a class="vMsg fancybox fancybox.iframe" rel="fb" href="@Url.Action("Index", "Message")?mid=' + data + '&email=' + @ViewBag.email + '&name=' + @ViewBag.name + '&preview=true">Preview</a>' +
                            '<a href="@Url.Action("Index", "Message")?mid=' + data + '&email=' + @ViewBag.email + '&name=' + @ViewBag.name + '&preview=false">View</a>';*@
                    },
                        //'<a href="' + data + '">Preview</a>'; },
                    'aTargets': [3],
                    'bSortable': false
                }
            ],

            "sPaginationType": "full_numbers",
            "bLengthChange": false,
            "bStateSave": true,
            "iDisplayLength": 10

        })
            .columnFilter({
                sPlaceHolder: "head:before",
                aoColumns: [{ type: "date-range" },
				            { type: "text" },
                            { type: "text" },
                            null
                ]
            });

        $("#Refresh").click(function (e) {
            oMsgIndex.fnDraw();
        });

        /* Clears the filtering inputs and selects */
        $.fn.clearForm = function () {
            return this.each(function () {
                var type = this.type, tag = this.tagName.toLowerCase();
                if (tag == 'form')
                    return $(':input', this).clearForm();
                if (type == 'text' || type == 'password' || tag == 'textarea')
                    this.value = '';
                else if (type == 'checkbox' || type == 'radio')
                    this.checked = false;
                else if (tag == 'select')
                    this.selectedIndex = -1;
            });
        };

        /* Removes filters from the table data and restores all data */
        $.fn.dataTableExt.oApi.fnFilterClear = function ( oSettings )
        {
            /* Remove global filter */
            oSettings.oPreviousSearch.sSearch = "";

            /* Remove the text of the global filter in the input boxes */
            if ( typeof oSettings.aanFeatures.f != 'undefined' )
            {
                var n = oSettings.aanFeatures.f;
                for ( var i=0, iLen=n.length ; i<iLen ; i++ )
                {
                    $('input', n[i]).val( '' );
                }
            }
            /* Remove the search text for the column filters - NOTE - if you have input boxes for these
            * filters, these will need to be reset
            */
            for (var i = 0, iLen = oSettings.aoPreSearchCols.length ; i < iLen ; i++) {
                oSettings.aoPreSearchCols[i].sSearch = "";
            }

            /* Redraw */
            oSettings.oApi._fnReDraw(oSettings);
        }

            $("button").click(function () {
                $(':input').clearForm();
                oMsgIndex.fnFilterClear();
                oMsgIndex.fnDraw();
            });


        //$(".fancybox")
        //    .attr('rel', 'fb')
        //    .fancybox({
        //        width: '80%',
        //        height: '80%',
        //        padding: 0,
        //        margin: [20, 60, 20, 60], // Increase left/right margin
        //        closeClick: false,
        //        openEffect: 'elastic',
        //        closeEffect: 'elastic',

        //    });
        $(".vMsg[rel=fb]").fancybox({
            fitToView: false,
            width: '85%',
            height: '85%',
            autoSize: false,
            closeClick: false,
            openEffect: 'elastic',
            closeEffect: 'elastic',
            showNavArrows: true,
            margin: [20, 60, 20, 60]
        });
    });

</script>
}

<h2>Message Index: @ViewBag.name</h2>
<div>
<button id="Refresh" style="float:right;" type="button">Refresh</button>

<table id="Messages" style="width:100%;margin-top:15px">
    <thead>
        <tr style="border-bottom: 1px solid black;">
        <th style="width:200px;">Date Received</th>
        <th>Filter: From</th>
        <th>Filter: Subject</th>
        <th></th>
        </tr>
        
        <tr>
        <th style="width:200px;">Date Received</th>
        <th>From</th>
        <th>Subject</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
